.header{
  border: 1px solid pink;
  padding:20px;
  margin-top:10px;
}

.header li{
  float:right;
  list-style-type: none;
  padding-right:20px;
}

#mobile-hamburger{
  float:right;
  font-size:20px;
}

#mobile-hamburger:hover{
  color:gray;
}
